@import '../../global.scss';
@import '../../styles/breakpoints';

.topbar {
    width: 100%;
    height: 70px;
    background-color: black;
    color: $mainColor;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;

    @include breakpoint-medium-down {
        height: 35px;
    }

    .wrapper{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoint-medium-down {
            padding: 5px 10px;
        }

        .left {
            width: 4%;
        }

        h1 {
            @include breakpoint-medium-down {
                font-size: 16px;
            }
        }
     
        .right{
            
            .hamburger{
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                @include breakpoint-medium-down {
                    width: 20px;
                    height: 15px;
                }

                span{
                    width: 100%;
                    height: 3px;
                    background-color: $mainColor;
                    transform-origin: left;
                    transition: all 2s ease;

                    @include breakpoint-medium-down {
                        height: 2px;
                    }
                }
            }
        }
    }

    &.active{
        background-color: $mainColor;
        color: black;

        .hamburger{
            span{
                &:first-child{
                    background-color: black;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child{
                    background-color: black;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}