  @import "../../global.scss";

.portfolio {
    // background-color: #ad1f45;
    background-color: #F27348 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .arrow-left {
        height: 50px;
        position: absolute;
        cursor: pointer;
        left: 5vw;
        transform: rotateY(180deg);

        @include mobile {
            display: none;
        }
    }

    .arrow-right {
        height: 50px;
        position: absolute;
        cursor: pointer;
        right: 5vw;

        @include mobile {
            display: none;
        }
      
    }

    .slider {
        height: 50vh;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;

        @include mobile {
            height: 100vh;
            flex-direction: column;
            justify-content: center;
        }

        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

        
            .item {
                width: 60vw;
                height: 95%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
                

                @include mobile {
                    width: 80%;
                    height: 150px;
                    margin: 10px 0;
                }

                .left {
                    flex: 4;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .leftContainer {
                        width: 90%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        margin-left: 1vw;

                       .tech-used {
                            margin-top: 0.5em;
                       }

                        .imgContainer {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: black;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            @include mobile {
                               
                                width: 20px;
                                height: 20px;
                            }

                            img {
                                width: 25px;

                                @include mobile {
                                    width: 15px;
                                }
                            }

                        }

                        h2 {
                            font-size: 20px;
                            margin-bottom: 0.5em;

                            @include mobile{
                                font-size: 13px;
                            }
                        }

                        p {
                            font-size: 13px;

                            @include mobile{
                                display: none;
                            }
                        }

                        span {
                            font-size: 12px;
                            font-weight: bold;
                            text-decoration: underline;

                            @include mobile{
                                font-size: 10px;
                            }
                        }
                    }
                }

                .right {
                    flex: 8;
                    height: 92%;
                    object-fit: cover;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .displayContainer {
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        margin-right: 15px;

                        @include mobile{
                            margin-right: 10px;
                        }
                      
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;

    
                        }
                    }
                }
            }
        }
    }
}