.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    float: left;
    margin-right:0.5em;

    p {
        padding-bottom: 0.25em;
    }
}