  @import "../../global.scss";
  @import '../../styles/breakpoints';

.portfolio {
    // background-color: #ad1f45;
    background-color: #F27348 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .arrow-left {
        height: 50px;
        position: absolute;
        cursor: pointer;
        left: 5vw;
        transform: rotateY(180deg);

        @include breakpoint-medium-down {
            display: none;
        }
    }

    .arrow-right {
        height: 50px;
        position: absolute;
        cursor: pointer;
        right: 5vw;

        @include breakpoint-medium-down {
            display: none;
        }
      
    }

    .slider {
        height: 50vh;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;

        @include breakpoint-medium-down {
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            margin-top: 0px;
        }

        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

        
            .item {
                width: 60vw;
                height: 95%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
                
                @include breakpoint-small-down {
                    width: 90%;
                    height: 140px;
                    margin: 5px 0;
                    box-shadow: none;
                }
                @include breakpoint-medium-only {
                    width: 90%;
                    height: 170px;
                    margin: 10px 0;
                    box-shadow: none;
                }

                .left {
                    flex: 4;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .leftContainer {
                        width: 90%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        margin-left: 1vw;

                        .info {

                            p {
                                @include breakpoint-large-down {
                                    display: none;
                                }
                            }
                        }

                       .tech-container {
                            .tech-title {
                                font-size: 0.9em;
                            }

                            .tech-used {
                                margin-top: 0.5em; 
                            }
                       }

                        .imgContainer {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: black;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            @include breakpoint-small-down {
                                width: 12px;
                                height: 12px;
                            }
                            @include breakpoint-medium-only {
                               
                                width: 20px;
                                height: 20px;
                            }

                            img {
                                width: 25px;

                                @include breakpoint-small-down {
                                    width: 10px;
                                }
                                @include breakpoint-medium-only {
                                    width: 15px;
                                }
                            }

                        }

                        h2 {
                            font-size: 20px;
                            margin-bottom: 0.5em;

                            @include breakpoint-small-down{
                                font-size: 12px;
                            }
                            @include breakpoint-medium-only{
                                font-size: 13px;
                            }


                        }

                        p {
                            font-size: 13px;
                        }

                        span {
                            font-size: 12px;
                            font-weight: bold;
                            text-decoration: underline;

                            @include breakpoint-medium-down {
                                display: none;
                            }
                        }
                    }
                }

                .right {
                    flex: 8;
                    height: 92%;
                    object-fit: cover;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .displayContainer {
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        margin-right: 15px;

                        @include breakpoint-medium-down{
                            margin-right: 10px;
                        }
                      
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;

    
                        }
                    }
                }
            }
        }
    }
}

.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    float: left;
    margin-right:0.5em;
    font-size: 28px;

    @include breakpoint-small-down {
        font-size: 9px;
    }

    @include breakpoint-medium-only {
        font-size: 14px;
    }
    

    p {
        font-size: 11px !important;
        padding-bottom: 0.25em;
        
        @include breakpoint-small-down{
            font-size: 8px !important;
            padding: none;
        }

        @include breakpoint-medium-only {
            font-size: 15px;
        }
        
    }

    img {
        height: 28px;
        width: 28px;

        @include breakpoint-small-down {
            height: 9px;
            width: 9px;
        }
        @include breakpoint-medium-only {
            height: 15px;
            width: 15px;
        }
    }

    
}

