@import '../global.scss';

.topbar {
    width: 100%;
    height: 70px;
    background-color: black;
    color: $mainColor;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;
    -moz-transition: all 1s ease;

    .wrapper{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .right{
            .hamburger{
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                span{
                    width: 100%;
                    height: 3px;
                    background-color: $mainColor;
                    transform-origin: left;
                    transition: all 2s ease;
                }
            }
        }
    }

    &.active{
        background-color: $mainColor;
        color: black;

        .hamburger{
            span{
                &:first-child{
                    background-color: black;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child{
                    background-color: black;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}