
@import "../../global.scss";
@import '../../styles/breakpoints';

.intro {
    background-color: white;
    display: flex;

    @include breakpoint-medium-down{
        flex-direction: column;
        align-items: center;
    }

    .left {
        flex: 0.5;
        overflow: hidden;

        .imgContainer {
            width: 700px;
            height: 700px;
            background-color: #F27348 ;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;
            margin-top: 5vh;

            @include breakpoint-medium-down{
                align-items: flex-start;
            }
            

            img {
                height: 90%;
                width: 100%;

                @include breakpoint-medium-down{
                    margin-top: 40px;
                    height: 50%;
                    object-fit: contain;
                }
            }
        }
    }

    .right {
        flex: 0.5;
        position: relative;
      
      

        .wrapper {
            
            width: 100%;
            height: 100%;
            padding-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include breakpoint-medium-down{
                padding-left: 0;
                align-items: center;
            }

            h1 {
                font-size: 60px;
                margin: 0px 0;

                @include breakpoint-medium-down{
                    font-size: 30px;
                }
            }
            h2 {
                font-size: 35px;

            }
            h3 {
                font-size: 25px;

                @include breakpoint-medium-down{
                    font-size: 15px;
                }

                span {
                    font-size: inherit;
                    color: #F27348 ;
                }
            }
        }

        a {
            
            position: absolute;
            bottom: 10px;

            @include breakpoint-medium-down{
                left: 45%;
            }

            img {
                width: 30px;
                animation: arrowBlink 3s infinite;
            }

            @keyframes arrowBlink {
                100% {
                    opacity: 0%;
                }
                
            }
        }

    }
}